/* gradient bg header */
.gradientBgHeader {
    background: rgb(254,243,243);
    background: linear-gradient(180deg, rgba(254,243,243,1) 60%, rgba(255,255,255,1) 100%);
}

.react-multi-carousel-track {
    flex-direction: row-reverse !important;
}


.BgContact {
    background-image: url('./assets/images/BgContact.svg');
    background-size: cover;
    height: 370px;
}

@media (min-width: 640px) { 
    .BgContact {
        background-image: none;
    }
}

@media (min-width: 1024px) { 
    .BgContact {
        background-image: url('./assets/images/BgContactLg.svg');
        background-size: cover;
        height: 100%;
    }
}

@media (min-width: 3000px) {
    .BgContact {
        background-image: none;
    }
}

#footer {
    background-image: url(./assets/images/BgFooter.svg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 600px;
}


/* Spinner */
.loader {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FDC55E;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-bottom: 4px solid #E95051;
    border-left: 4px solid transparent;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 


.cartEmptyHeight {
    height: calc(100vh - 220px);
}